
body {
background: #434343;
color:#e0e0e0;
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
      background: rgb(151, 212, 232);
  border: 2px solid rgb(203, 237, 246);
  padding: 10px;
  margin: 10px;
text-align: center;
    color: black;
  font-family: "Goldman", sans-serif;
  font-weight: 600;
  font-style: bold;
}

h2, h3 {
     background: rgb(151, 212, 232);
  border: 2px solid rgb(203, 237, 246);
  padding: 10px;
  margin: 10px;
    color: black;
  font-family: "Goldman", sans-serif;
  font-weight: 800;
  font-style: normal;
}

div {
 border: double cornflowerblue;
}
/*
p {
  background: rgba(255, 234, 117, 0.3);
  border: 2px solid rgb(233, 233, 228);
  padding: 10px;
  margin: 10px;
}
*/
span {
  background: white;
  border: 1px solid black;
}

section {
  display: flex;
  flex-direction: row;
  zoom: 0.8;
}
section {
  flex-wrap: wrap;
}